<h1>My tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <div class="pt-2 pb-2">
      <input type="checkbox" name="completed">
      <label for="completed"> <%= link_to task.title, task_path(task) %>
      <%= link_to task_path(task.id),
            method: :delete,
            data: { confirm: "Delete #{task.title}"} do %>
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          <% end %>
    </div>
  <% end %>
</ul>


<%= link_to new_task_path do %>
    <i class="fa fa-plus"></i> Add a new task
<% end %>





